.navbar-nav li a {
    color: #fff !important;
}

.col-md-2 {
    padding-right: 10px;
}

.tables {
    border-radius: 3px;
}

.col-md-10 {
    padding-left: 30px;
}

.panel-titles {
    border: none !important;
    border-radius: 10px !important;
}

.panel-cents {
    padding: 8px 15px !important;
    border: none !important;
    border-radius: 10px !important;
    color: #A7A7A4;
}

thead th {
    width: 10%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:last-child,
tbody td:last-child {
    text-align: center;
}

.modal-backdrop {
    z-index: 0 !important;
}

tr td {
    vertical-align: middle !important;
    width: 15% !important;
}